* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

a {
  font-size: 2.4rem;
  text-decoration: none;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}

.logo {
  display: block;
  margin: auto;
  width: 400px;
  height: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-icons ion-icon {
  font-size: 3.2rem;
  transition: color 0.2s ease-in-out;
}

.social-icons ion-icon:hover {
  color: #666;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-link:link,
.social-link:visited {
  color: #72a90b;
  margin: 0 1rem;
}

.nav-icons ion-icon {
  font-size: 3.2rem;
  transition: color 0.2s ease-in-out;
}

.nav-icons ion-icon:hover {
  color: #666;
  cursor: pointer;
}

.nav-link:link,
.nav-link:visited {
  color: #72a90b;
  margin: 0 1rem;
}

.return-home {
  display: flex;
  justify-content: center;
}

.gallery {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #333;
  color: #72a90b;
  border-radius: 0.5rem;
}

.gallery-item {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  width: 300px;
  height: 400px;
  background-color: #72a90b;
  color: #333;
  transform: rotateY(180deg);
}

.social-section {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  color: #72a90b;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  color: #72a90b;
}

footer {
  background-color: #333;
  color: #72a90b;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
